name: Continuous Integration

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  sonarcloud:
    name: Unit-Tests
    runs-on: macos-15
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java 17
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Link SwiftLint or install it
        run: brew link --overwrite swiftlint || brew install swiftlint

      - name: Set up XCode 
        run: sudo xcode-select --switch /Applications/Xcode_26.1.1.app/Contents/Developer
      
      - name: Bundle Install
        run: bundle install
      
      - name: Unit tests
        run: bundle exec fastlane unit_tests
      
      - name: Code Coverage
        run: bundle exec fastlane coverage
      
      - name: Lint
        run: bundle exec fastlane lint
      
      - name: Setup sonarqube
        uses: warchant/setup-sonar-scanner@v8
      
      # TODO: Sonarcloud integration is failing, so continue-on-error: true was added
      # to prevent blocking the pipeline. This should be revisited when we work on fixing this integration.
      - name: Send to Sonarcloud
        run: bundle exec fastlane sonarqube
        continue-on-error: true
        env: 
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONARCLOUD_KEY }}
